<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cliente.nome %>
</p>

<p>
  <strong>Fantasia:</strong>
  <%= @cliente.fantasia %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @cliente.endereco %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @cliente.numero %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @cliente.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @cliente.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cliente.estado %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @cliente.cep %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>

<p>
  <strong>Dddfone:</strong>
  <%= @cliente.dddfone %>
</p>

<p>
  <strong>Fone:</strong>
  <%= @cliente.fone %>
</p>

<p>
  <strong>Dddcel:</strong>
  <%= @cliente.dddcel %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @cliente.celular %>
</p>

<p>
  <strong>Status:</strong>
  <%= @cliente.status %>
</p>

<p>
  <strong>Datanasc:</strong>
  <%= @cliente.datanasc %>
</p>

<p>
  <strong>Cpfcnpj:</strong>
  <%= @cliente.cpfcnpj %>
</p>

<p>
  <strong>Rgie:</strong>
  <%= @cliente.rgie %>
</p>

<p>
  <strong>Alterado:</strong>
  <%= @cliente.alterado %>
</p>

<p>
  <strong>Tipopessoa:</strong>
  <%= @cliente.tipopessoa %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
