<%= form_for(@iten) do |f| %>
  <% if @iten.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@iten.errors.count, "error") %> prohibited this iten from being saved:</h2>

      <ul>
      <% @iten.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :venda_id %><br>
    <%= f.text_field :venda_id %>
  </div>
  <div class="field">
    <%= f.label :ord_item %><br>
    <%= f.number_field :ord_item %>
  </div>
  <div class="field">
    <%= f.label :produto_id %><br>
    <%= f.text_field :produto_id %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label :quantidade %><br>
    <%= f.text_field :quantidade %>
  </div>
  <div class="field">
    <%= f.label :valor_bruto %><br>
    <%= f.text_field :valor_bruto %>
  </div>
  <div class="field">
    <%= f.label :valor_liquido %><br>
    <%= f.text_field :valor_liquido %>
  </div>
  <div class="field">
    <%= f.label :desconto %><br>
    <%= f.text_field :desconto %>
  </div>
  <div class="field">
    <%= f.label :acrescimo %><br>
    <%= f.text_field :acrescimo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
