<p id="notice"><%= notice %></p>

<h1>Listing Itens</h1>

<table>
  <thead>
    <tr>
      <th>Venda</th>
      <th>Ord item</th>
      <th>Produto</th>
      <th>Descricao</th>
      <th>Quantidade</th>
      <th>Valor bruto</th>
      <th>Valor liquido</th>
      <th>Desconto</th>
      <th>Acrescimo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @itens.each do |iten| %>
      <tr>
        <td><%= iten.venda %></td>
        <td><%= iten.ord_item %></td>
        <td><%= iten.produto %></td>
        <td><%= iten.descricao %></td>
        <td><%= iten.quantidade %></td>
        <td><%= iten.valor_bruto %></td>
        <td><%= iten.valor_liquido %></td>
        <td><%= iten.desconto %></td>
        <td><%= iten.acrescimo %></td>
        <td><%= link_to 'Show', iten %></td>
        <td><%= link_to 'Edit', edit_iten_path(iten) %></td>
        <td><%= link_to 'Destroy', iten, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Iten', new_iten_path %>
