<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @produto.descricao %>
</p>

<p>
  <strong>Unidade:</strong>
  <%= @produto.unidade %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @produto.observacao %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @produto.preco %>
</p>

<p>
  <strong>Codbarras:</strong>
  <%= @produto.codbarras %>
</p>

<p>
  <strong>Fraciona:</strong>
  <%= @produto.fraciona %>
</p>

<p>
  <strong>Ctrlpreco:</strong>
  <%= @produto.ctrlpreco %>
</p>

<p>
  <strong>Ctrlestoque:</strong>
  <%= @produto.ctrlestoque %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @produto.quantidade %>
</p>

<p>
  <strong>Maxdesc:</strong>
  <%= @produto.maxdesc %>
</p>

<p>
  <strong>Maxacresc:</strong>
  <%= @produto.maxacresc %>
</p>

<%= link_to 'Edit', edit_produto_path(@produto) %> |
<%= link_to 'Back', produtos_path %>
