<p id="notice"><%= notice %></p>

<p>
  <strong>Imei:</strong>
  <%= @venda.imei %>
</p>

<p>
  <strong>Dataemissao:</strong>
  <%= @venda.dataemissao %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @venda.cliente %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @venda.obs %>
</p>

<p>
  <strong>Data prev entrega:</strong>
  <%= @venda.data_prev_entrega %>
</p>

<p>
  <strong>Total bruto:</strong>
  <%= @venda.total_bruto %>
</p>

<p>
  <strong>Total liquido:</strong>
  <%= @venda.total_liquido %>
</p>

<p>
  <strong>Desconto:</strong>
  <%= @venda.desconto %>
</p>

<p>
  <strong>Acrescimo:</strong>
  <%= @venda.acrescimo %>
</p>

<p>
  <strong>Planospagamento:</strong>
  <%= @venda.planospagamento %>
</p>

<p>
  <strong>Status:</strong>
  <%= @venda.status %>
</p>

<p>
  <strong>Vendedor:</strong>
  <%= @venda.vendedor %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @venda.hora %>
</p>

<%= link_to 'Edit', edit_venda_path(@venda) %> |
<%= link_to 'Back', vendas_path %>
